@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 41deg 79% 68%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 270deg 60% 30%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 270deg 60% 30%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 10%;
		--theme-link: 270deg 66% 82%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 41deg 79% 68%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 41deg 79% 68%;
	}
}