---
import { menuLinks } from "@/site-config";
import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
const baseUrl = import.meta.env.BASE_URL;
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href={`${baseUrl}`}
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 267 471"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>
				<path
					d="M118.843 28.9859C120.526 32.8497 119.744 35.4158 116.496 36.684C114.613 32.5025 111.907 28.9671 108.38 26.0782C106.209 22.2006 103.193 19.2239 99.3306 17.1484L95.9825 13.5009C92.4786 9.60217 88.1687 6.63581 83.0524 4.60179C76.2035 5.38198 72.1623 9.5773 70.9292 17.1878C69.0757 28.6489 68.3051 39.0097 68.6172 48.2704C66.3196 59.173 65.8254 70.6429 67.1342 82.6805L62.9094 117.633C61.3866 121.303 60.6853 125.308 60.8066 129.645L57.2302 144.909L55.2435 151.781L45.9223 172.261C42.488 175.89 40.2206 180.18 39.12 185.13C26.9499 203.738 17.64 221.672 11.1902 238.932C-5.40827 283.236 9.23495 335.713 50.9638 361.035C62.4597 368.012 74.4531 373.954 86.9443 378.869C88.3212 379.406 89.5623 379.484 90.6676 379.101C93.0138 378.264 93.0186 377.4 90.6825 376.509C79.0519 372.175 70.8938 364.083 66.2085 352.232C63.8534 337.676 60.0025 322.111 61.4459 307.964C66.1449 261.6 94.0041 216.034 119.674 180.171C140.558 151.003 156.562 129.322 158.771 94.6636C161.083 87.8057 162.184 80.5169 162.073 72.7968C162.031 71.2371 162.617 70.9426 163.829 71.9131L164.603 72.5222C164.918 72.776 165.314 72.9083 165.719 72.8949C166.123 72.8812 166.509 72.7228 166.806 72.4485C173.803 66.1924 178.551 65.7346 177.067 54.4194L176.75 51.7596L179.105 38.0177C179.742 34.3088 178.591 33.6277 175.652 35.9744L168.559 41.6485C164.997 42.3964 161.774 42.3669 158.89 41.5596C158.244 41.3759 157.691 40.9493 157.346 40.3678L150.892 29.6719C150.697 29.3573 150.44 29.086 150.136 28.8749C149.832 28.6635 149.488 28.5169 149.126 28.4439C148.763 28.3707 148.389 28.3729 148.027 28.45C147.665 28.5271 147.323 28.6774 147.022 28.8922C143.61 31.3489 141.342 34.5055 140.219 38.3623C134.528 40.4073 131.66 38.9775 131.615 34.0731C131.56 28.1808 131.538 22.0328 131.549 15.6291C131.559 11.9411 130.314 11.4599 127.816 14.1856C127.006 15.0913 126.465 16.3608 126.192 17.9939C118.783 20.3336 124.364 27.3299 118.843 28.9859C119.976 19.7867 122.996 13.1323 127.902 9.02283C138.178 0.406666 135.072 28.6706 134.755 31.6757C134.739 31.8245 134.753 31.9756 134.798 32.1191C134.843 32.2626 134.917 32.3956 135.017 32.5103C135.117 32.6247 135.239 32.7182 135.377 32.7848C135.515 32.8514 135.665 32.89 135.818 32.8978L136.496 32.9249C136.82 32.9276 137.138 32.8409 137.414 32.6748C137.689 32.5083 137.912 32.2689 138.056 31.9836C143.218 21.8729 152.175 21.8845 157.374 33.1348C159.389 37.5167 162.114 38.5768 165.549 36.315L177.646 28.264C182.98 24.7331 185.125 26.4286 184.08 33.3515C182.234 45.7107 184.378 71.6225 169.967 75.2013C169.492 75.315 169.056 75.5578 168.707 75.9038C168.359 76.2496 168.11 76.6852 167.989 77.1633C163.693 94.9943 161.656 115.253 155.684 130.559C150.628 143.517 144.236 155.079 136.509 165.243C100.807 212.228 60.5986 269.841 63.8224 331.528C63.8663 332.351 64.2197 332.748 64.882 332.724C65.118 332.712 65.3425 332.626 65.524 332.485C65.7056 332.341 65.8349 332.148 65.8933 331.928C75.5071 298.735 109.689 268.198 142.916 262.7C157.47 260.318 177.293 262.544 195.102 257.373C195.45 257.266 195.773 257.092 196.052 256.858C196.331 256.626 196.56 256.341 196.726 256.019C196.891 255.696 196.99 255.345 197.016 254.986C197.042 254.625 196.994 254.264 196.876 253.925C192.798 241.893 192.284 229.725 195.331 217.42C195.433 217.009 195.433 216.578 195.332 216.163C195.231 215.748 195.031 215.361 194.75 215.035C185.023 203.812 182.106 191.102 176.327 177.925C174.703 174.252 175.824 172.194 179.692 171.751C192.921 170.256 192.455 149.593 194.466 139.076C194.543 138.69 194.72 138.333 194.979 138.042C195.239 137.75 195.571 137.534 195.941 137.416C197.485 136.944 198.547 137.852 199.125 140.139C201.511 149.297 205.426 157.777 210.87 165.581C211.267 166.156 211.875 166.557 212.568 166.7L226.424 169.339C226.873 169.425 227.336 169.397 227.772 169.255C228.208 169.114 228.602 168.864 228.918 168.529C239.192 157.251 248.625 145.337 257.22 132.785C260.527 127.948 261.828 128.441 261.117 134.262C259.685 145.925 259.775 157.631 261.391 169.38C261.449 169.869 261.379 170.361 261.183 170.808C256.661 181.085 247.666 194.324 247.422 205.413C246.89 229.935 247.817 247.963 250.197 259.494C259.304 303.54 266.511 349.297 265.813 394.377C265.63 407.104 267.68 420.24 267.531 433.477C267.526 433.926 267.409 434.365 267.189 434.756C266.972 435.149 266.657 435.478 266.279 435.717C265.898 435.954 265.464 436.095 265.017 436.122C264.571 436.149 264.122 436.064 263.716 435.873C253.255 430.944 246.917 371.406 246.785 366.457C246.138 341.556 245.416 326.137 244.618 320.207C242.81 306.99 236.239 302.18 224.906 305.778C220.903 307.047 219.683 309.638 221.246 313.553C228.076 330.569 240.854 358.343 234.242 375.748C234.076 376.175 233.808 376.553 233.462 376.848C233.115 377.144 232.702 377.349 232.259 377.441C222.828 379.347 220.93 372.021 220.428 363.961C219.849 354.875 215.919 347.476 208.638 341.761C208.245 341.451 207.769 341.26 207.267 341.212C206.765 341.16 206.256 341.253 205.799 341.48C197.568 345.536 189.837 349.477 180.212 347.71C173.129 346.378 166.004 345.592 158.835 345.348C158.334 345.328 157.838 345.448 157.404 345.695C156.97 345.943 156.617 346.307 156.385 346.746C149.069 360.512 137.322 377.615 136.292 393.194C135.211 409.778 134.096 426.375 132.946 442.987C132.895 443.585 133.052 444.185 133.391 444.688L138.808 452.565C139.059 452.944 139.214 453.376 139.259 453.827C139.303 454.279 139.236 454.732 139.062 455.152C133.401 468.318 123.871 462.141 121.277 452.146C118.943 443.126 117.969 436.31 118.355 431.695C119.305 420.504 120.036 409.286 120.548 398.038C120.761 393.787 119.507 393.296 116.786 396.571C107.958 407.155 99.8538 418.308 92.4747 430.031C85.5367 441.084 85.657 452.507 87.5471 464.745C87.6264 465.263 87.5493 465.797 87.3255 466.28C85.5016 470.292 82.517 472.186 78.3718 471.961C77.8874 471.937 77.4186 471.781 77.0159 471.51C76.613 471.239 76.2912 470.866 76.0847 470.426C65.7773 448.222 66.8294 426.866 79.2408 406.36C83.6149 399.148 88.3297 392.003 93.3852 384.926C97.2529 379.501 96.3119 378.471 90.5622 381.836L89.1253 382.683C88.7829 382.876 88.4027 382.993 88.0108 383.025C87.6191 383.059 87.2247 383.005 86.855 382.871C50.3726 369.659 21.2375 352.223 7.12097 313.899C-13.4631 257.976 17.1756 211.512 43.9624 164.645C54.2532 146.639 59.0397 119.119 60.4451 98.3147C62.1109 73.6572 63.8319 49.0115 65.6082 24.3771C69.1755 -25.1453 105.341 13.7075 116.374 28.4168C116.557 28.6579 116.801 28.8468 117.08 28.9649C117.359 29.083 117.664 29.1265 117.965 29.0906L118.843 28.9859ZM233.343 169.216C228.599 174.232 227.026 171.668 222.125 171.065C211.724 169.805 201.402 170.27 191.161 172.462C186.479 173.469 186.236 175.126 190.431 177.432L197.012 181.044C197.438 181.279 197.922 181.39 198.409 181.365C198.897 181.34 199.369 181.181 199.774 180.904C205.004 177.403 209.399 178.291 212.96 183.568C213.221 183.951 213.37 184.374 213.407 184.837C213.669 187.935 214.401 189.934 215.606 190.833C228.873 200.906 237.834 213.542 242.487 228.742C242.9 230.096 243.518 230.607 244.342 230.275C244.516 230.206 244.662 230.087 244.765 229.935C244.867 229.783 244.918 229.605 244.916 229.424L243.969 201.562C249.492 188.818 256.156 175.022 256.041 160.927C255.998 155.429 256.305 150.087 256.964 144.9C257.63 139.624 256.354 139.101 253.135 143.334L233.343 169.216ZM195.857 149.161C195.272 153.763 194.3 158.357 192.94 162.943C192.808 163.378 192.789 163.84 192.886 164.285C192.982 164.73 193.189 165.143 193.489 165.485C193.789 165.827 194.171 166.087 194.599 166.24C195.028 166.394 195.488 166.436 195.937 166.363L200.833 165.563C201.257 165.493 201.658 165.322 202.002 165.065C202.347 164.807 202.624 164.47 202.811 164.083C202.997 163.696 203.088 163.269 203.075 162.839C203.062 162.409 202.946 161.989 202.736 161.614C200.497 157.618 198.667 153.574 197.244 149.481C196.537 147.479 196.075 147.373 195.857 149.161ZM204.299 222.044L203.415 221.421C203.036 221.154 202.594 220.99 202.132 220.946C201.671 220.901 201.206 220.977 200.782 221.166C200.359 221.355 199.992 221.651 199.717 222.025C199.442 222.398 199.269 222.836 199.215 223.297C198.563 228.842 198.865 233.194 200.123 236.353C202.997 243.564 208.499 249.896 216.63 255.347C216.976 255.574 217.371 255.718 217.785 255.767C218.198 255.816 218.617 255.77 219.011 255.631C229.023 252.116 236.375 245.674 241.068 236.303C241.226 235.986 241.319 235.64 241.342 235.285C241.365 234.931 241.316 234.574 241.199 234.237C231.721 206.313 215.155 194.07 189.763 181.558C183.514 178.472 181.515 180.787 183.765 188.504C186.989 199.558 192.913 208.824 201.538 216.303C203.222 217.757 204.626 219.127 205.75 220.414C209.872 225.12 209.388 225.664 204.299 222.044ZM201.79 262.564C198.931 257.744 195.583 257.414 191.745 261.578C191.414 261.917 190.999 262.171 190.538 262.315C181.32 265.104 171.985 266.449 162.532 266.353C128.039 265.985 107.101 279.082 85.1929 304.406C72.4203 319.165 67.3292 336.058 69.9201 355.08C76.1257 365.654 84.9935 372.609 96.5235 375.948C97.0701 376.101 97.6514 376.08 98.1849 375.887C98.7186 375.692 99.1776 375.333 99.4968 374.864C107.171 363.502 113.515 351.163 118.529 337.851C123.405 339.679 125.671 344.14 125.33 351.229C124.547 368.353 123.99 385.487 123.658 402.631C123.612 405.415 126.979 430.722 129.24 430.453C129.439 430.439 129.626 430.348 129.768 430.204C129.909 430.058 129.994 429.865 130.009 429.66L132.805 384.76C138.086 369.537 147.027 359.678 153.644 342.083C153.851 341.531 154.234 341.065 154.734 340.758C155.235 340.448 155.824 340.316 156.408 340.377C166.56 341.353 179.225 344.862 188.546 342.942C192.655 342.11 196.616 340.711 200.428 338.747C200.779 338.571 201.086 338.32 201.327 338.012C201.568 337.702 201.738 337.344 201.824 336.958C201.91 336.575 201.909 336.175 201.823 335.789C201.737 335.404 201.567 335.042 201.325 334.728C198.544 331.157 197.069 327.304 196.9 323.17C196.399 310.514 195.927 302.029 195.484 297.712C195.464 297.544 195.507 297.375 195.606 297.239C195.705 297.102 195.851 297.007 196.017 296.973C197.537 296.604 200.366 310.375 201.023 313.858C196.102 328.929 210.191 337.368 219.291 346.266C220.817 347.754 222.235 351.659 223.546 357.977C223.634 358.419 223.833 358.829 224.125 359.17C224.418 359.512 224.793 359.773 225.216 359.932C225.639 360.088 226.096 360.137 226.545 360.068C226.993 360.002 227.418 359.824 227.78 359.551L231.047 357.084C231.527 356.718 231.87 356.203 232.021 355.622C232.172 355.041 232.122 354.429 231.879 353.882C227.845 344.706 212.43 311.554 218.95 303.115C225.294 299.303 231.931 298.7 238.86 301.309C258.628 313.711 244.696 373.371 256.149 392.291C256.464 392.811 256.783 393.321 257.113 393.821C260.576 399.182 262.213 398.663 262.028 392.266L261.444 372.209C260.717 339.386 256.722 307.012 249.467 275.092C248.496 270.873 247.451 265.119 246.329 257.824C245.643 253.41 244.774 248.99 243.725 244.566C242.834 240.858 241.248 240.535 238.969 243.594C234.982 248.924 229.894 253.012 223.704 255.853C223.165 256.102 222.723 256.524 222.449 257.056C222.176 257.585 222.085 258.195 222.192 258.783C222.829 262.161 224.501 264.723 227.209 266.468C227.752 266.802 228.151 267.332 228.33 267.954C231.596 278.841 223.478 269.126 220.585 272.464C216.879 276.071 217.676 277.101 222.977 275.551C221.512 280.312 219.313 280.503 216.381 276.122C216.104 275.703 215.713 275.371 215.253 275.168C214.794 274.966 214.286 274.897 213.79 274.973C211.739 275.273 210.294 274.546 209.456 272.794C209.24 272.335 209.157 271.825 209.216 271.322C209.276 270.819 209.475 270.341 209.791 269.946C212.379 266.761 214.008 263.149 214.678 259.113C214.761 258.644 214.717 258.164 214.55 257.717C214.383 257.273 214.1 256.88 213.729 256.582C208.279 252.197 203.746 246.982 200.13 240.939C200.059 240.825 199.958 240.733 199.836 240.672C199.715 240.61 199.579 240.582 199.441 240.589L198.693 240.651C198.58 240.659 198.472 240.694 198.376 240.753C198.28 240.812 198.199 240.894 198.142 240.991C198.085 241.088 198.052 241.198 198.046 241.31C198.04 241.423 198.062 241.535 198.109 241.638C201.092 248.405 202.319 255.379 201.79 262.564ZM222.41 264.909L221.306 262.666C219.776 259.486 218.181 259.459 216.522 262.59L211.973 271.278C211.868 271.478 211.813 271.703 211.816 271.927C211.817 272.154 211.876 272.376 211.985 272.576C212.094 272.774 212.251 272.942 212.441 273.064C212.632 273.186 212.849 273.26 213.075 273.279C213.965 273.352 214.764 272.889 215.472 271.886C215.683 271.588 215.955 271.337 216.271 271.146C216.587 270.956 216.94 270.832 217.309 270.778L224.83 269.829C226.408 269.638 226.612 269.013 225.442 267.947L223.02 265.726C222.76 265.507 222.556 265.233 222.41 264.909ZM115.544 353.096L113.374 356.62C105.094 369.988 98.8391 382.927 89.3966 396.732C83.3053 405.605 75.9163 416.494 74.3191 427.313C73.9533 429.677 73.6851 432.027 73.5145 434.368C73.0828 440.102 74.4016 440.53 77.4708 435.651L83.0944 426.698C89.8891 424.557 93.9077 422.361 95.15 420.109C101.45 408.531 109.639 398.25 119.718 389.26C121.63 374.52 124.101 357.445 121.76 342.781C121.736 342.637 121.658 342.51 121.542 342.422C121.426 342.337 121.281 342.298 121.138 342.315L120.34 342.41C120.137 342.434 119.949 342.529 119.809 342.673C119.669 342.817 119.585 343.005 119.571 343.203C119.238 346.893 117.895 350.192 115.544 353.096Z"
					fill="#544414"></path>
				<path
					d="M83.0588 4.60547C73.4526 28.4285 73.9724 30.2998 84.6182 10.2196C84.8512 9.76022 85.1343 9.42074 85.4679 9.20114C85.9172 8.89585 86.3357 8.71106 86.7237 8.64686C86.8768 8.62094 87.0337 8.6357 87.1791 8.68966C87.3246 8.74364 87.4532 8.83491 87.552 8.95432C87.6511 9.07373 87.717 9.21707 87.7428 9.36996C87.7689 9.52285 87.7543 9.67989 87.7004 9.82533C82.5815 23.3121 76.2226 36.1283 68.6238 48.274C68.3114 39.0133 69.0821 28.6525 70.9356 17.1914C72.1689 9.58098 76.2099 5.38565 83.0588 4.60547Z"
					fill="white"></path>
				<path
					d="M83.0588 4.60547C88.175 6.63951 92.4844 9.60619 95.9883 13.5049L67.1393 82.6844C65.8308 70.647 66.3262 59.1766 68.6238 48.274C76.2226 36.1283 82.5815 23.3121 87.7004 9.82533C87.7543 9.67989 87.7689 9.52285 87.7428 9.36996C87.717 9.21707 87.6511 9.07373 87.552 8.95432C87.4532 8.83491 87.3246 8.74364 87.1791 8.68966C87.0337 8.6357 86.8768 8.62094 86.7237 8.64686C86.3357 8.71106 85.9172 8.89585 85.4679 9.20114C85.1343 9.42074 84.8512 9.76022 84.6182 10.2196C73.9724 30.2998 73.4526 28.4285 83.0588 4.60547Z"
					fill="#544414"></path>
				<path
					d="M95.9804 13.5148L99.3284 17.1623C90.1002 39.1778 82.3413 59.3366 76.0517 77.6389C71.4853 90.934 72.7789 91.526 79.9321 79.4155C90.1992 62.042 99.681 44.2676 108.378 26.0923C111.905 28.981 114.61 32.5163 116.493 36.6981C103.078 64.2481 85.1643 98.6467 62.9067 117.647L67.1315 82.6943L95.9804 13.5148Z"
					fill="white"></path>
				<path
					d="M140.23 38.3766C133.202 55.0043 125.129 71.1002 116.014 86.6639C112.813 92.0988 113.825 93.0483 119.051 89.512C138.257 76.5227 154.763 60.573 168.57 41.6626L175.663 35.9888C178.602 33.6421 179.754 34.3232 179.116 38.0321L176.761 51.774C175.351 51.7081 174.314 52.0654 173.652 52.8458C149.345 80.9114 129.502 93.9049 95.4346 113.638C86.0804 119.051 73.3493 129.479 57.2412 144.923L60.8175 129.66C88.7685 109.765 109.26 83.9436 122.292 52.195C125.192 45.1413 126.496 33.7456 126.203 18.0083C126.476 16.3751 127.017 15.1057 127.827 14.2C130.325 11.4743 131.57 11.9555 131.56 15.6435C131.549 22.0471 131.571 28.1952 131.626 34.0875C131.671 38.9919 134.539 40.4214 140.23 38.3766Z"
					fill="white"></path>
				<path
					d="M99.3381 17.1579C103.2 19.2335 106.216 22.2101 108.387 26.0878C99.6904 44.2634 90.2087 62.0378 79.9416 79.4112C72.7884 91.5217 71.4947 90.9295 76.0611 77.6344C82.3509 59.3321 90.1098 39.1735 99.3381 17.1579Z"
					fill="#E9DBAD"></path>
				<path
					d="M126.194 18.0048C126.487 33.7422 125.183 45.1377 122.283 52.1916C109.251 83.9403 88.7597 109.762 60.8087 129.656C60.6874 125.318 61.3883 121.314 62.9111 117.644C85.1687 98.6437 103.082 64.2451 116.498 36.6951C119.746 35.4268 120.528 32.8608 118.845 28.9969C124.367 27.3407 118.785 20.3445 126.194 18.0048Z"
					fill="#544414"></path>
				<path
					d="M168.565 41.6607C154.759 60.5708 138.252 76.5205 119.046 89.5101C113.821 93.0462 112.808 92.0966 116.009 86.6617C125.125 71.0981 133.197 55.0022 140.226 38.3745C141.349 34.5177 143.617 31.3611 147.029 28.9044C147.33 28.6897 147.672 28.5393 148.034 28.4622C148.396 28.3851 148.77 28.3829 149.132 28.4561C149.495 28.5291 149.839 28.6758 150.143 28.8871C150.446 29.0982 150.704 29.3696 150.898 29.6841L157.352 40.38C157.698 40.9615 158.251 41.3881 158.897 41.5719C161.781 42.3791 165.004 42.4087 168.565 41.6607Z"
					fill="#E9DBAD"></path>
				<path
					d="M176.754 51.7772L177.071 54.437C173.9 58.6097 170.353 62.4226 166.43 65.8754C163.794 68.2038 161.554 70.9885 159.71 74.2295C154.894 82.7076 141.453 92.6179 133.101 97.6868C106.032 114.113 80.0805 132.15 55.2476 151.799L57.2341 144.926C73.3422 129.483 86.0733 119.054 95.4275 113.641C129.494 93.9081 149.339 80.9147 173.645 52.849C174.307 52.0688 175.344 51.7116 176.754 51.7772Z"
					fill="#544414"></path>
				<path
					d="M177.076 54.4341C178.56 65.7493 173.813 66.2071 166.816 72.4632C166.518 72.7375 166.132 72.8959 165.728 72.9096C165.323 72.923 164.927 72.7907 164.612 72.5369L163.838 71.9278C162.626 70.9573 162.04 71.2518 162.082 72.8115C162.193 80.5316 161.092 87.8204 158.78 94.6783C116.16 118.695 76.6504 139.616 45.9314 172.276L55.2509 151.797C80.0837 132.148 106.037 114.11 133.106 97.6837C141.458 92.615 154.898 82.7047 159.715 74.2266C161.559 70.9853 163.799 68.2006 166.435 65.8723C170.358 62.4194 173.905 58.6068 177.076 54.4341Z"
					fill="white"></path>
				<path
					d="M158.775 94.6842C156.565 129.343 140.562 151.023 119.678 180.192C94.008 216.054 66.1488 261.619 61.4499 307.986C60.0061 322.13 63.8573 337.698 66.2125 352.252C22.6419 327.097 17.8694 257.392 30.4192 213.974C33.208 204.326 36.1096 194.718 39.124 185.151C40.2246 180.2 42.4919 175.91 45.9262 172.282C76.645 139.622 116.155 118.7 158.775 94.6842Z"
					fill="#E9DBAD"></path>
				<path
					d="M243.98 201.574L241.753 183.792C241.662 183.174 241.366 182.602 240.912 182.166C237.074 178.631 234.555 174.318 233.355 169.228L253.147 143.346C256.366 139.114 257.64 139.636 256.976 144.913C256.317 150.099 256.007 155.441 256.051 160.939C256.168 175.034 249.504 188.831 243.98 201.574Z"
					fill="white"></path>
				<path
					d="M195.862 149.173C196.081 147.384 196.543 147.491 197.249 149.493C198.672 153.586 200.503 157.63 202.741 161.625C202.951 162.001 203.067 162.421 203.08 162.851C203.093 163.281 203.003 163.707 202.816 164.095C202.629 164.482 202.352 164.819 202.008 165.076C201.663 165.334 201.262 165.505 200.838 165.575L195.943 166.374C195.494 166.448 195.033 166.406 194.605 166.252C194.177 166.099 193.795 165.839 193.495 165.496C193.195 165.154 192.987 164.741 192.891 164.296C192.795 163.852 192.813 163.39 192.946 162.954C194.305 158.368 195.278 153.774 195.862 149.173Z"
					fill="white"></path>
				<path
					d="M39.1294 185.145C36.115 194.713 33.2137 204.32 30.4248 213.969C17.8749 257.385 22.6474 327.092 66.2179 352.247C70.9032 364.097 79.0613 372.19 90.6921 376.524C93.0282 377.414 93.0231 378.278 90.6769 379.115C89.5717 379.498 88.3308 379.42 86.9537 378.883C74.4627 373.971 62.469 368.026 50.9732 361.052C9.24435 335.728 -5.39888 283.25 11.1996 238.947C17.6494 221.686 26.9593 203.753 39.1294 185.145Z"
					fill="white"></path>
				<path
					d="M233.347 169.209C234.548 174.299 237.067 178.612 240.905 182.147C241.359 182.583 241.655 183.155 241.746 183.773L243.973 201.555L244.918 229.417C244.923 229.598 244.872 229.776 244.769 229.929C244.667 230.081 244.518 230.199 244.346 230.268C243.522 230.6 242.904 230.089 242.491 228.736C237.838 213.536 228.878 200.899 215.61 190.827C214.406 189.927 213.673 187.928 213.412 184.83C213.375 184.367 213.225 183.944 212.964 183.562C209.404 178.285 205.009 177.397 199.779 180.897C199.374 181.174 198.901 181.334 198.414 181.358C197.926 181.383 197.443 181.272 197.017 181.038L190.436 177.425C186.24 175.119 186.484 173.463 191.165 172.455C201.407 170.264 211.728 169.798 222.13 171.058C227.03 171.661 228.604 174.225 233.347 169.209Z"
					fill="#544414"></path>
				<path
					d="M205.762 220.428C204.637 219.141 203.233 217.77 201.549 216.316C192.924 208.838 187 199.571 183.777 188.517C181.526 180.8 183.525 178.485 189.774 181.571C215.166 194.084 231.732 206.326 241.21 234.25C241.327 234.588 241.376 234.944 241.353 235.299C241.331 235.654 241.237 236 241.079 236.316C236.387 245.688 229.034 252.131 219.022 255.643C218.629 255.784 218.209 255.831 217.796 255.782C217.383 255.733 216.987 255.589 216.641 255.36C208.51 249.908 203.008 243.578 200.134 236.367C198.877 233.207 198.574 228.856 199.226 223.311C199.28 222.85 199.454 222.412 199.728 222.038C200.003 221.665 200.37 221.369 200.793 221.18C201.217 220.991 201.682 220.915 202.144 220.959C202.605 221.004 203.047 221.167 203.427 221.434L204.31 222.057C209.399 225.677 209.883 225.134 205.762 220.428Z"
					fill="white"></path>
				<path
					d="M222.983 275.551L220.592 272.464C223.485 269.126 231.603 278.841 228.336 267.954C228.158 267.332 227.758 266.803 227.215 266.468C224.507 264.723 222.835 262.163 222.199 258.786C222.092 258.195 222.182 257.585 222.456 257.056C222.73 256.524 223.171 256.102 223.711 255.853C229.901 253.012 234.989 248.924 238.976 243.594C241.255 240.535 242.84 240.859 243.731 244.566C244.779 248.99 245.648 253.41 246.336 257.824C247.456 265.119 248.503 270.875 249.472 275.092C256.73 307.015 260.722 339.386 261.452 372.212C257.132 358.609 254.763 348.298 254.338 341.28C253.296 324.068 251.722 306.558 249.619 288.754C248.974 283.363 247.315 283.021 244.64 287.729C242.362 291.704 240.437 296.231 238.866 301.309C231.937 298.701 225.301 299.303 218.957 303.115C215.905 300.441 212.482 298.808 208.689 298.217C208.285 298.154 207.872 298.183 207.483 298.305C207.092 298.425 206.735 298.632 206.438 298.913C206.141 299.193 205.911 299.538 205.768 299.921C205.624 300.301 205.57 300.711 205.609 301.119C206.11 306.078 204.583 310.324 201.03 313.858C200.372 310.375 197.544 296.604 196.024 296.973C195.858 297.007 195.711 297.102 195.613 297.239C195.514 297.375 195.471 297.544 195.491 297.712C195.934 302.029 196.405 310.514 196.906 323.17C197.075 327.304 198.55 331.157 201.332 334.73C201.573 335.042 201.744 335.404 201.83 335.789C201.916 336.177 201.916 336.575 201.83 336.961C201.745 337.344 201.575 337.702 201.334 338.012C201.092 338.322 200.785 338.574 200.435 338.747C196.623 340.711 192.662 342.11 188.553 342.942C179.232 344.862 166.566 341.353 156.415 340.377C155.83 340.316 155.241 340.45 154.741 340.758C154.241 341.068 153.857 341.534 153.651 342.083C147.034 359.678 138.093 369.537 132.812 384.762C130.028 374.986 130.249 365.671 133.474 356.815C137.86 344.721 151.094 338.288 162.645 334.484C183.98 327.436 181.169 302.71 190.597 287.882C195.552 280.115 199.286 271.676 201.797 262.566C202.325 255.379 201.098 248.405 198.116 241.639C198.069 241.536 198.047 241.424 198.053 241.311C198.058 241.199 198.091 241.089 198.149 240.992C198.206 240.895 198.286 240.813 198.382 240.754C198.478 240.695 198.587 240.659 198.7 240.652L199.448 240.59C199.585 240.582 199.722 240.611 199.843 240.672C199.964 240.734 200.066 240.826 200.137 240.939C203.752 246.982 208.285 252.197 213.736 256.582C214.106 256.882 214.39 257.273 214.557 257.72C214.724 258.164 214.768 258.647 214.685 259.113C214.015 263.149 212.386 266.761 209.798 269.948C209.481 270.343 209.282 270.819 209.223 271.322C209.164 271.825 209.247 272.335 209.463 272.794C210.301 274.546 211.746 275.273 213.796 274.975C214.293 274.897 214.801 274.966 215.26 275.168C215.72 275.371 216.111 275.703 216.388 276.122C219.32 280.503 221.518 280.312 222.983 275.551Z"
					fill="white"></path>
				<path
					d="M201.802 262.561C199.291 271.673 195.557 280.112 190.602 287.877C181.174 302.705 183.985 327.431 162.65 334.479C151.099 338.283 137.865 344.716 133.479 356.813C130.254 365.667 130.033 374.981 132.817 384.757L130.02 429.655C130.006 429.863 129.92 430.055 129.779 430.202C129.638 430.346 129.451 430.434 129.251 430.448C126.991 430.719 123.624 405.41 123.67 402.628C124.001 385.485 124.558 368.351 125.341 351.227C125.683 344.135 123.416 339.677 118.54 337.846C108.18 346.744 97.6241 353.765 86.8714 358.914C86.2935 359.19 85.6431 359.258 85.0328 359.104L69.9316 355.078C67.3409 336.053 72.432 319.163 85.2046 304.404C107.113 279.078 128.051 265.983 162.544 266.349C171.997 266.446 181.332 265.099 190.549 262.31C191.011 262.168 191.426 261.914 191.756 261.573C195.595 257.412 198.943 257.741 201.802 262.561Z"
					fill="#544414"></path>
				<path
					d="M223.019 265.746L225.442 267.967C226.612 269.031 226.408 269.658 224.83 269.846L217.309 270.797C216.94 270.849 216.587 270.976 216.271 271.166C215.955 271.356 215.683 271.608 215.472 271.905C214.764 272.908 213.965 273.372 213.075 273.296C212.849 273.279 212.631 273.206 212.441 273.084C212.251 272.962 212.094 272.794 211.985 272.593C211.876 272.396 211.817 272.174 211.815 271.947C211.813 271.722 211.867 271.498 211.973 271.298L216.522 262.608C218.181 259.479 219.776 259.506 221.306 262.686L222.41 264.928C222.556 265.253 222.76 265.526 223.019 265.746Z"
					fill="#E9DBAD"></path>
				<path
					d="M220.605 272.476L223.007 275.576C217.682 277.133 216.882 276.098 220.605 272.476Z"
					fill="#544414"></path>
				<path
					d="M261.444 372.209L262.028 392.266C262.213 398.663 260.576 399.182 257.113 393.821C256.783 393.321 256.464 392.811 256.149 392.291C244.696 373.371 258.628 313.711 238.86 301.309C240.431 296.231 242.354 291.704 244.633 287.729C247.307 283.021 248.967 283.363 249.611 288.754C251.715 306.558 253.289 324.068 254.331 341.28C254.755 348.298 257.125 358.607 261.444 372.209Z"
					fill="#544414"></path>
				<path
					d="M218.952 303.132C212.431 311.571 227.847 344.721 231.881 353.899C232.124 354.446 232.174 355.058 232.023 355.639C231.872 356.22 231.529 356.735 231.049 357.101L227.781 359.568C227.42 359.841 226.995 360.019 226.547 360.085C226.098 360.151 225.641 360.105 225.218 359.949C224.794 359.79 224.419 359.529 224.127 359.187C223.835 358.846 223.636 358.436 223.548 357.994C222.237 351.676 220.819 347.771 219.292 346.28C210.193 337.385 196.104 328.946 201.025 313.875C204.578 310.339 206.105 306.092 205.604 301.136C205.565 300.728 205.619 300.318 205.763 299.935C205.906 299.555 206.136 299.211 206.433 298.93C206.73 298.649 207.087 298.442 207.478 298.32C207.868 298.2 208.28 298.168 208.684 298.232C212.477 298.823 215.9 300.458 218.952 303.132Z"
					fill="#544414"></path>
				<path
					d="M118.534 337.859C113.52 351.171 107.176 363.509 99.5021 374.872C99.1827 375.343 98.7239 375.699 98.1902 375.894C97.6565 376.087 97.0752 376.109 96.5288 375.955C84.9986 372.617 76.1308 365.662 69.9252 355.088L85.0264 359.117C85.6365 359.27 86.2871 359.202 86.865 358.924C97.6177 353.777 108.174 346.754 118.534 337.859Z"
					fill="white"></path>
				<path
					d="M119.716 389.265C111.418 376.226 121.285 366.66 115.542 353.101C117.893 350.195 119.236 346.895 119.569 343.205C119.583 343.008 119.667 342.82 119.808 342.676C119.948 342.532 120.135 342.439 120.338 342.412L121.136 342.317C121.28 342.3 121.424 342.339 121.54 342.427C121.656 342.512 121.734 342.642 121.758 342.783C124.099 357.45 121.629 374.523 119.716 389.265Z"
					fill="white"></path>
				<path
					d="M115.541 353.106C121.284 366.665 111.418 376.228 119.716 389.27C109.637 398.257 101.447 408.539 95.1474 420.116C93.9053 422.368 89.8867 424.567 83.092 426.707C85.1429 415.547 89.2198 405.313 95.3226 396.005C97.7193 392.349 116.012 357.96 113.371 356.63L115.541 353.106Z"
					fill="#544414"></path>
				<path
					d="M113.389 356.625C116.029 357.955 97.7369 392.345 95.3402 396.003C89.2374 405.308 85.1605 415.543 83.1094 426.702L77.486 435.654C74.4165 440.534 73.0978 440.107 73.5295 434.372C73.7003 432.032 73.9685 429.68 74.3343 427.317C75.9315 416.497 83.3205 405.608 89.4118 396.735C98.8541 382.932 105.109 369.993 113.389 356.625Z"
					fill="white"></path>
				<path
					d="M214.648 385.411C221.792 386.502 228.763 385.914 235.561 383.649C237.534 383 237.859 383.464 236.536 385.043C231.98 390.495 219.942 389.987 213.906 388.01C212.633 387.586 212.13 387.215 212.397 386.895C212.824 386.424 213.266 386.034 213.667 385.768C214.069 385.504 214.411 385.38 214.648 385.411Z"
					fill="#544414"></path>
				<path
					d="M233.254 400.688C228.481 397.992 252.669 394.517 234.668 400.788C234.441 400.876 234.197 400.91 233.952 400.893C233.708 400.876 233.47 400.805 233.254 400.688Z"
					fill="#544414"></path>
				<path
					d="M215.163 190.533C209.386 187.645 207.783 186.933 203.609 184.756C199.435 182.58 197.832 181.868 197.832 181.868C199.214 179.217 205.213 176.801 209.386 178.977C213.56 181.154 217.837 191.87 215.163 190.533Z"
					fill="white"></path>
			</svg>
			<span class="text-xl font-bold sm:text-3xl">Ding Chen Fjær</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={`${baseUrl}${link.path}`}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
	<!-- Plasser denne nederst i Header.astro, etter siste HTML-element -->
	<script>
		class MobileNavBtn extends HTMLElement {
			#menuOpen = false;

			connectedCallback() {
				const headerEl = document.getElementById("main-header");
				const mobileButtonEl = this.querySelector("button");

				mobileButtonEl?.addEventListener("click", () => {
					if (headerEl) {
						this.#menuOpen = !this.#menuOpen;
						headerEl.classList.toggle("menu-open", this.#menuOpen);
						mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
					}
				});
			}
		}

		customElements.define("mobile-button", MobileNavBtn);
	</script>
</header>
