---
import { menuLinks } from "@/site-config";
import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
const baseUrl = import.meta.env.BASE_URL;
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href={`${baseUrl}`}
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>
				<path
					d="M183 310.323C180.942 316.887 168.404 326.584 163.113 331.188C157.822 335.792 151.6 339.27 144.448 341.621C137.295 343.873 129.849 345 122.108 345C108.587 345 96.8781 341.865 86.9821 335.596C77.184 329.229 69.7375 320.805 64.6425 310.323C59.5475 299.842 57 288.479 57 276.235C57 263.304 60.0864 251.501 66.2592 240.823C72.4319 230.048 81.1032 221.575 92.273 215.404C103.443 209.135 116.131 206 130.338 206C138.569 206 146.113 207.224 152.972 209.673C159.831 212.024 165.22 215.404 169.139 219.812C173.156 224.22 175.165 229.314 175.165 235.093C175.165 239.501 173.744 242.734 170.902 244.791C168.061 246.75 165.024 247.729 161.79 247.729C158.753 247.729 156.401 247.191 154.736 246.113C153.07 244.938 151.845 243.566 151.061 241.999C150.376 240.334 149.69 238.032 149.004 235.093C148.22 231.371 147.24 228.334 146.064 225.983C144.987 223.632 142.929 221.575 139.892 219.812C136.854 218.049 132.494 217.069 126.811 216.873C119.267 216.579 112.212 218.44 105.647 222.457C99.0827 226.375 93.7917 232.252 89.7745 240.089C85.8553 247.925 83.8957 257.329 83.8957 268.3C83.8957 278.488 85.7083 287.842 89.3336 296.365C92.9589 304.887 98.2498 311.695 105.206 316.789C112.261 321.882 120.687 324.429 130.485 324.429C139.01 324.429 146.113 323.401 151.796 321.344C157.479 319.286 172.862 310.974 180.103 300.839L183 310.323Z"
					fill="#DB0205"></path>
				<path
					d="M179.158 79.0903C177.095 75.9002 173.048 72.7101 167.018 69.5201C161.146 66.33 155.353 63.6184 149.64 61.3854C144.086 59.1523 140.435 57.7966 138.69 57.3181L139.166 48.9441L206.296 32.6748L223.436 31V312.603C223.436 322.173 227.483 329.032 235.576 333.179C243.829 337.326 252.637 339.4 262 339.4V352.559L198.44 363.086H182.491L180.349 326.001C169.081 339.081 157.258 348.89 144.879 355.43C132.5 361.81 119.249 365 105.125 365C87.1915 365 70.766 360.693 55.8482 352.08C41.089 343.308 29.4246 331.106 20.8547 315.474C12.2849 299.683 8 281.58 8 261.163C8 237.716 12.761 216.742 22.283 198.239C31.9638 179.737 45.2152 165.302 62.0375 154.934C78.8597 144.566 97.6657 139.383 118.455 139.383C128.136 139.383 137.579 140.898 146.784 143.928C155.988 146.799 166.78 151.186 179.158 157.087V79.0903ZM179.158 238.195C179.158 222.723 177.809 210.282 175.112 200.871C172.414 191.301 166.938 182.847 158.686 175.51C152.338 169.927 145.514 165.621 138.214 162.59C130.913 159.4 123.534 157.805 116.075 157.805C103.538 157.805 92.4286 161.872 82.7479 170.007C73.0672 178.142 65.5289 188.988 60.1331 202.546C54.896 215.944 52.2774 230.459 52.2774 246.09C52.2774 261.243 54.896 275.758 60.1331 289.635C65.5289 303.352 73.5433 314.597 84.1762 323.37C94.8091 332.142 107.664 336.529 122.74 336.529C134.802 336.529 145.514 333.897 154.877 328.633C164.399 323.21 172.493 316.032 179.158 307.1V238.195Z"
					fill="#ED3203"></path>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">What does the fox say</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={`${baseUrl}${link.path}`}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>
