---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Om",
};

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Min interaktive portefølje bygget i Figma.",
		href: "https://www.figma.com/proto/dIULhitI3aG6HagQdU6cRC/dingchen.no?page-id=0%3A1&type=design&node-id=12-205&viewport=729%2C139%2C0.16&t=iMVKlHhdlVCH74Va-1&scaling=scale-down-width&starting-point-node-id=12%3A205",
		title: "Design Portfolio",
	},
	{
		desc: "Om meg og mine erfaringer som UX-designer",
		href: "https://dingchen.no/cv.pdf",
		title: "CV",
	},
];
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Om Dīng</h1>
		<section class="mt-16">
			<dl class="space-y-4">
				{
					cactusTech.map(({ desc, href, title }) => (
						<div class="flex flex-col gap-2 sm:flex-row">
							<dt>
								<span class="flex">
									<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
										{title}
									</a>
									:
								</span>
							</dt>
							<dd>{desc}</dd>
						</div>
					))
				}
			</dl>
		</section>

		<!-- </div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div> -->
	</div>
</PageLayout>
