---
import PageLayout from "@/layouts/Base.astro";
const baseUrl = import.meta.env.BASE_URL || Astro.site?.toString() || "";
---

<PageLayout meta={{ title: "cv" }}>
	<section class="mb-6 text-xl">
		<a
			href={`${baseUrl}cv.pdf`}
			class="text-accent sm:hover:underline"
			target="_blank"
			rel="noopener noreferrer">Les eller last ned CV-en her</a
		>
	</section>
</PageLayout>
